cargo-features = ["default-run"]

[package]
name = "recorder"
version = "0.1.0"
authors = ["Jaro <jarohabiger@googlemail.com>"]
repository = "https://github.com/axiom-micro/recorder"
readme = "README.md"
license = "GPL-3.0"
edition = "2018"
default-run = "recorder"

[dependencies]
bus = "*"
glutin = "0.18.0"
glium = "0.22.0"
clap = "2.32.0"
font-kit = "0.1.0"
euclid = "0.19.0"
