[package]
name = "recorder"
version = "0.1.0"
authors = ["Jaro <jarohabiger@googlemail.com>"]
repository = "https://github.com/axiom-micro/recorder"
readme = "README.md"
license = "GPL-3.0"
edition = "2018"
default-run = "recorder"

[dependencies]
glium = "0.28.0"
clap = "2.33.3"
font-kit = "0.10.0"
euclid = "0.22.1"
itertools = "0.9.0"
bus = "2.2.3"
glutin = "0.25.1"
mpeg_encoder = { git = "https://github.com/sebcrozet/mpeg_encoder", optional = true }
indicatif = "0.15.0"
lazy_static = "1.4.0"
include_dir = "0.6.0"
regex = "1.4.2"
glob = "0.3.0"
tiff-encoder = "0.3.2"
pathfinder_geometry = "0.5.1"

[features]
mp4_encoder = ["mpeg_encoder"]

# [profile.release]
# debug = true