cargo-features = ["default-run"]

[package]
name = "recorder"
version = "0.1.0"
authors = ["Jaro <jarohabiger@googlemail.com>"]
repository = "https://github.com/axiom-micro/recorder"
readme = "README.md"
license = "GPL-3.0"
edition = "2018"
default-run = "recorder"

[dependencies]
glium = "0.25.0"
clap = "2.33.0"
font-kit = "0.3.1"
euclid = "0.19.9"
itertools = "0.8.0"
bus = "2.2.1"
glutin = "0.21.0"
mpeg_encoder = { git = "https://github.com/sebcrozet/mpeg_encoder" }
indicatif = "0.11.0"
lazy_static = "1.3.0"
include_dir = "0.2.1"
regex = "1.1.7"
